<div class="min-h-screen flex justify-center items-center">
  <!-- Login Container -->
  <div class="absolute w-60 h-60 rounded-xl bg-[#6C2D6B] -top-5 -left-16 z-0 transform rotate-45 hidden md:block">
  </div>
  <div class="absolute w-48 h-48 rounded-xl bg-[#6C2D6B] -bottom-6 right-10 transform rotate-12 hidden md:block">
  </div>
  <div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
    <div *ngIf="succes" class="  item-center gap-4">
        <span class="text-green-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class=" mx-auto h-24 w-24"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
            />
          </svg>
      </span>

      <div class="flex-1">
        <strong class="block font-medium text-gray-900">effectuée avec
          succès ! En attente la confirmation du offre</strong>


      </div>
    </div>
    <div class="" *ngIf="!succes">
      <div class="mb-0 flex justify-center">
        <img class=" w-36" src="../../../assets/logo.png" alt=""/>
      </div>
      <div>
        <p
          class="  w-80 pl-12 text-center text-bold text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer">
          Ajouter une Offre</p>
      </div>
      <form class="" [formGroup]="offreFormGroup" (ngSubmit)="submit()">

        <div class="space-y-4 ">
          <div class="grid grid-cols-2 gap-2">

            <input type="text" placeholder="Titre" formControlName="titre"
                   class="block text-sm py-3 px-4 rounded-lg w-full border outline-none"/>
            <label
              for="ville"
              class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
            >
              <select id="ville"
                      type="text" formControlName="ville"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm">
                <option>Rabat</option>
                <option>Casablanca</option>
                <option>Tanger</option>
                <option>Agadir</option>
                <option>settat</option>
                <option>Berrechid</option>
                <option>Safi</option>
              </select>
              <span
                class="absolute left-3 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs"
              >
                Ville
           </span>
            </label>
          </div>

          <div class="grid grid-cols-2 gap-2">
            <label
              for="ville"
              class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
            >
              <select type="text" formControlName="profile_id"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm">
                >

                <option selected disabled>Profile</option>
                <option *ngFor="let item of profiles" [value]="item.id">{{ item.profile }}</option>

              </select>
              <span
                class="absolute left-3 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs"
              >
    Profile
  </span>
            </label>
            <label
              for="etude"
              class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
            >
              <select id="etude"
                      type="text" formControlName="niveau_etude"
                      class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm">
                <option selected disabled>Niveau d'étude</option>
                <option>Niveau Bac</option>
                <option>Bac Plus 2</option>
                <option>Bac Plus 3</option>
                <option>Bac Plus 4</option>
                <option>Bac Plus 5</option>
              </select>
              <span
                class="absolute left-3 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs"
              >
    Niveau d'etude
  </span>
            </label>
          </div>
          <label
            for="salaire"
            class="relative block overflow-hidden rounded-md border border-gray-200 px-3 pt-3 shadow-sm focus-within:border-blue-600 focus-within:ring-1 focus-within:ring-blue-600"
          >
            <select id="salaire"
                    type="text" formControlName="salaire"
                    class="peer h-8 w-full border-none bg-transparent p-0 placeholder-transparent focus:border-transparent focus:outline-none focus:ring-0 sm:text-sm">
              <option selected disabled>Salaire</option>
              <option>à discuter</option>
              <option>Plus de 2000DH</option>
              <option>Plus de 3000DH</option>
              <option>Plus de 4000DH</option>
              <option>Plus de 6000DH</option>
              <option>Plus de 8000DH</option>
              <option>Plus de 10000DH</option>
              <option>autre</option>
            </select>
            <span
              class="absolute left-3 top-2 -translate-y-1/2 text-xs text-gray-700 transition-all peer-placeholder-shown:top-1/2 peer-placeholder-shown:text-sm peer-focus:top-2 peer-focus:text-xs"
            >
    Salaire
  </span>
          </label>
          <div>
            <label class="sr-only" for="message">Message</label>
            <textarea
              formControlName="description"
              class="w-full rounded-lg border p-3 text-sm"
              placeholder="Description"
              rows="8"
              id="message"
            ></textarea>
          </div>

          <div class="col-span-6 ml-2 sm:col-span-4 md:mr-3">
            <!-- Photo File Input -->


          </div>
        </div>

        <div class="text-center mt-6">

          <button type="submit" class="py-3 w-64 text-xl text-white bg-[#6C2D6B] rounded-2xl">Valider</button>

        </div>
      </form>
    </div>


  </div>

  <div class="w-40 h-40 absolute bg-[#6C2D6B] rounded-full top-0 right-1 hidden md:block"></div>
  <div
    class="w-20 h-40 absolute bg-[#6C2D6B] rounded-full bottom-20 left-10 transform rotate-45 hidden md:block">
  </div>
</div>

