<div class="min-h-screen flex justify-center items-center">
  <!-- Login Container -->
  <div class="absolute w-60 h-60 rounded-xl bg-[#6C2D6B] -top-5 -left-16 z-0 transform rotate-45 hidden md:block">
  </div>
  <div class="absolute w-48 h-48 rounded-xl bg-[#6C2D6B] -bottom-6 right-10 transform rotate-12 hidden md:block">
  </div>
  <div class="py-12 px-12 bg-white rounded-2xl shadow-xl z-20">
    <div class="mb-0 flex justify-center">
      <img class="w-36" src="../../../assets/logo.png" alt=""/>
    </div>
    <div>
      <!--      <h1 class="text-3xl font-bold text-center mb-4 cursor-pointer"> Bonjour Agent</h1>-->
      <p class="w-80 text-center text-bold text-sm mb-8 font-semibold text-gray-700 tracking-wide cursor-pointer">
        Connecter à votre compte</p>
    </div>

    <form [formGroup]="userFormGroup" (ngSubmit)="login()">
      <strong *ngIf="error" class="block mb-2 font-medium text-red-700"> {{error}} </strong>
      <p (click)="sendMail()" *ngIf="idUser!=0" class="w-80 text-end text-bold text-sm mb-8 font-medium text-gray-700 tracking-wide ">
        <span class="text-blue-700 cursor-pointer hover:underline">Cliquez ici</span> pour un nouveau mail de validation
      </p>
      <div class="space-y-4">
        <input type="text" placeholder="Email Addres" formControlName="email"
               class="block text-sm py-3 px-4 rounded-lg w-full border outline-none"/>
        <input type="password" placeholder="Password" formControlName="password"
               class="block text-sm py-3 px-4 rounded-lg w-full border outline-none"/>
      </div>
      <div class="text-center mt-6">
        <button type="submit" class="py-3 w-64 text-xl text-white bg-[#6C2D6B] rounded-2xl">Login</button>

      </div>
    </form>
  </div>
  <div class="w-40 h-40 absolute bg-[#6C2D6B] rounded-full top-0 right-1 hidden md:block"></div>
  <div
    class="w-20 h-40 absolute bg-[#6C2D6B] rounded-full bottom-20 left-10 transform rotate-45 hidden md:block">
  </div>
</div>
